<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body>
    <form action="/registerNewEmployee" method="post">
        姓名<input name="name" type="text" required><br>
        性别<input name="sex" type="text" required><br>
        电话号码<input name="phone" type="text" required><br>
        身份证号<input name="idCardNumber" type="text" required><br>
        部门<input name="department" type="text" required><br>
        职级<input name="position" type="text" required><br>
        职位<input name="job" type="text" required><br>
        入职时间<input name="entryTime" type="date" required><br>
        <button type="submit">提交</button>
    </form>
</body>
</html>